*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  max-width: 100vw;
  min-width: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  position: fixed;
  background-color: dodgerblue;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav li {
  font-size: 1.5rem;
  margin: 2vh 10vw;
}

.container {
  margin-top: 10vh;
  max-width: 65vw;
}

.coffee-ingredients {
  font-size: 0.75rem;
  font-style: italic;
}
